<!DOCTYPE html>
<html id="cadastro" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/cadastro.css">
    <title>Cadastrar</title>
</head>
<body>
    <main>
        <%- include("../partials/cabeçalho.ejs") %>
        <section id="login">
            <div id="imagem">
                <!-- Aqui vai a imagem nas CSS -->
            </div>
            <div id="formulario">
                <h1>Cadastro</h1>
                <form  action="/carros" method="POST">
                    <div class="campo">
                        <i class="material-symbols-outlined">directions_car</i>
                        <input type="text" name="nome" id="nome" value="<%= carroUpdate.nome %>" placeholder="Nome do carro" required>
                        <label for="nome">Nome</label>
                    </div>
                    <div class="campo">
                        <i class="material-symbols-outlined">token</i>
                        <input type="text" name="marca" id="marca" value="<%= carroUpdate.marca %>" placeholder="Fiat, Chevrolet, Nissan, Honda" required>
                        <label for="marca">Marca</label>
                    </div>
                    <div class="campo">
                        <i class="material-symbols-outlined">event</i>
                        <input type="number" min="1900" name="ano" id="ano" value="<%= carroUpdate.ano %>" placeholder="2006, 2007, 2008" required>
                        <label for="ano">Ano</label>
                    </div>
                    <div class="campo">
                        <i class="material-symbols-outlined">paid</i>
                        <input type="number" step="100" min="0" name="valor" id="valor" value="<%= carroUpdate.valor %>" placeholder="16.000" required>
                        <label for="valor">Valor</label>
                    </div>
                    <input type="hidden" name="_id" value="<%= carroUpdate._id %>">
                    <input type="submit" class="cadastrar" value="<% if(carroUpdate.id != undefined){%>Editar<%} else{%>Cadastrar<%}%>">
                </form>
            </div>
        </section>
        <%- include("../partials/rodape.ejs") %>
    </main>
</body>
</html>