<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=c.marca%> <%=c.nome%> - <%=c.ano%></title>
</head>
<body>
    <%- include("../partials/cabeçalho.ejs") %>
    <div class="content-listar">
        <div class="card">
        <div class="card__left">
            <div class="id-absolute">
               <span><%=c.id%></span>     
            </div>
            <img src="../img/car.png" alt="default">
        </div> 
        <div class="card__right">
            <div class="informacoes">
                <span><%=c.marca%> <%=c.nome%> - <%=c.ano%></span>
                <p>R$<%=c.valor%></p>
            </div>
            <div class="acoes">
                <div class="icon-delete" onclick="return confirm('Você tem certeza que deseja deletar esse carro?')">
                    <a href="/carro/deletar/<%=c.id%>">
                        <span class="material-symbols-outlined">
                        delete
                        </span>
                    </a>
                </div>  
            </div>
        </div>  
    </div>
    <%- include("../partials/rodape.ejs") %>
</body>
</html>