<!DOCTYPE html>
<html id="cadastro" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/cadastro.css">
    <title>Cadastrar</title>
</head>
<body>
    <main>
        <%- include("../partials/cabeçalho.ejs") %>
        <section id="login">
            <div id="imagem">
                <!-- Aqui vai a imagem nas CSS -->
            </div>
            <div id="formulario">
                <h1>Cadastro</h1>
                <p>Seja bem-vindo(a).</p>
                <form  action="/clientes" method="POST">
                    <div class="campo">
                        <i class="material-symbols-outlined">deployed_code</i>
                        <input <% if(clienteUpdate.id != undefined){ %> readonly <% } %>type="number" name="id" id="id" placeholder="Seu id" min="1" value="<%= clienteUpdate.id %>" required>
                        <label for="id">Id</label>
                    </div>
                    <div class="campo">
                        <i class="material-symbols-outlined">person</i>
                        <input type="text" name="nome" id="nome" value="<%= clienteUpdate.nome %>" placeholder="Seu nome" required>
                        <label for="nome">Nome</label>
                    </div>
                    <div class="campo">
                        <i class="material-symbols-outlined">person</i>
                        <input type="number" name="idade" id="idade" value="<%= clienteUpdate.idade %>" placeholder="Sua idade"  min="1" required >
                        <label for="idade">Idade</label>
                    </div>
                    <input type="hidden" name="_id" value="<%= clienteUpdate._id %>">
                    <input type="submit" class="cadastrar" value="<% if(clienteUpdate.id != undefined){%>Editar<%} else{%>Cadastrar<%}%>">
                </form>
            </div>
        </section>
        <%- include("../partials/rodape.ejs") %>
    </main>
</body>
</html>